/* CSS by Laura Richter */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skip-link{
  text-decoration: none;
  font-family: var(--font-body);
  background-color: var(--news-flash);
  border: 2px solid var(--news-flash);
  color: var(--watchdog-white);
  padding: 0.5rem;
  left: 15%;
  position: absolute;
  transform: translateY(-1000%);
  transition: var(--transition);
}

.skip-link:focus{
  transform: translateY(-50%);
}

.skip-link:hover{
  background-color: var(--blue-bulletin);
}

/* ///ADD/// Navigation Styles */

.menu-button{
  cursor: pointer;
  background-color: var(--news-flash);
  border: 2px solid var(--news-flash);
  font-family: var(--font-body);
  color: var(--watchdog-white);
  display: block;
  text-align: center;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1.15em;
  transition: var(--transition);
}

.menu-button:hover{
  background-color: var(--blue-bulletin);
}

#menu-toggle{
  display: none;
}

.menu{
  display: none;
}

/* ///ADD/// Global Layout Styles */

/* ///ADD/// Global Text Styles */

body{
  background-color: var(--watchdog-white);
  font-family: var(--font-body);
  font-size: 0.9em;
  line-height: 1.5em;
}

header{
  background-color: var(--blue-bulletin);
  font-family: var(--font-heading);
  color: var(--watchdog-white);
  padding: 1rem;
  margin-bottom: 2rem;
}

header h1{
  font-size: 2.5em;
  line-height: 1.5em;
}

header p{
  font-variation-settings: 'wdth' 50;
  padding-bottom: 1rem;
}

main{
  margin: 0 auto;
  padding: 1rem;
}

main section{
  padding: 1rem 0;
}

h2, h3{
  font-family: var(--font-heading);
  font-size: 1.75em;
  font-variation-settings: 'wght' 50;
  line-height: 1.5em;
}

h3{
  font-family: var(--font-heading);
  font-size: 1.5em;
  font-variation-settings: 'wght' 50;
  line-height: 1.5em;
}

blockquote{
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 1rem;
}

#breaking-news section{
  padding: 1rem;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  margin: 0.5rem;
  box-shadow: var(--shadow);
  border-left: 2px solid var(--truth-text);
  border-top: 2px solid var(--truth-text);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transition: var(--transition);
  cursor: pointer;
}

#breaking-news section:hover{
  transform: scale(105%);
}

#breaking-news h3{
  border-bottom: 1px solid var(--watchdog-white);
}

#breaking-news p{
  padding-top: 0.5rem;
}

video{
  width: 100%;
}

#featured-articles section{
  border: 1px solid var(--story-subtitle);
  box-shadow: var(--shadow);
  padding: 1rem;
  margin: 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}

#featured-articles section:hover{
  transform: scale(105%);
}

#featured-articles h3{
  border-bottom: 1px solid var(--story-subtitle);
}

#featured-articles p{
  padding-top: 0.5rem;
}

form{
  background-color: var(--news-flash);
  padding: 1rem;
  color: var(--watchdog-white);
}

form label, form input{
  display: block;
  font-size: 1em;
}

form input{
  padding: 0 0.5em;
  height: 2.5em;
}

form input:focus{
  border: 2px solid var(--blue-bulletin);
}

form input:valid{
  border: 2px solid var(--story-subtitle);
}

form fieldset{
  border: 1px solid var(--blue-bulletin);
	padding: 0.5em 0 1em 0.5em;
	margin: 0.75em 0 0.25em 0;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: end;
}

form fieldset input, form fieldset label{
  height: 1.25em;
  padding: 0.5rem 0;
}

form input{
  width: 96%;
}

form input[type=checkbox]{
  accent-color: var(--blue-bulletin);
  cursor: pointer;
}

form legend{
  text-transform: uppercase;
}

form input[type=submit]{
  cursor: pointer;
  background-color: var(--blue-bulletin);
  text-transform: uppercase;
  color: var(--watchdog-white);
  box-shadow: var(--shadow);
  border-left: 2px solid var(--truth-text);
  border-top: 2px solid var(--truth-text);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  height: 3em;
  transition: var(--transition);
  width: 100%;
}

form input[type=submit]:hover{
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
}

footer{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 2rem 1rem 1rem 1rem;
}

footer ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0.5rem 0;
}

footer ul li{
  text-transform: uppercase;
  background-color: var(--news-flash);
  border: 2px solid var(--news-flash);
  padding: 0.5rem;
  text-align: center;
  transition: var(--transition);
  cursor: pointer;
}

footer ul li:hover{
  background-color: var(--blue-bulletin);
  transform: scale(105%);
}

footer small{
padding: 1rem;
display: block;
text-align: center;
}

/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px){
  .menu-button{
    display: none;
  }

  .mobile-nav{
    display: block;
  }

  .menu{
    display: flex;
    margin: 1rem auto;
  }

  .mobile-nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--watchdog-white);
    font-family: var(--font-body);
    font-size: 1.15em;
  }

  .mobile-nav ul li{
    background-color: var(--news-flash);
    padding: 0.5rem;
    margin: 0.5rem;
    border: 2px solid var(--news-flash);
    transition: var(--transition);
  }

  .mobile-nav ul li:hover{
    background-color: var(--blue-bulletin);
  }


  #breaking-news{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #breaking-news h2{
    grid-column: 1/-1;
  }

  #featured-articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #featured-articles h2{
    grid-column: 1/-1;
  }

  form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
  }

  label[for="user-name"]{
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #user-name{
    grid-column: 1/2;
    grid-row: 2/3;
  }

  label[for="user-phone"]{
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #user-phone{
    grid-column: 2/3;
    grid-row: 2/3;
  }

  form fieldset{
    grid-column: 1/-1;
    grid-template-columns: 30px auto 30px auto;
  }

  fieldset legend{
    grid-column: 1/-1;
  }

  form input[type=submit]{
    grid-column: 1/-1;
    align-items: center;
  }

  footer ul{
    display: flex;
  }
}


/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px){
  #featured-articles{
    grid-template-columns: 1fr 1fr 1fr;
  }

  form fieldset{
    grid-template-columns: repeat(3, 30px auto);
  }

  form input{
    width: 95%;
  }
}


/* ///ADD/// x-large styles 1024px */
@media screen and (min-width: 1024px){
  #featured-articles{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  form fieldset{
    grid-template-columns: repeat(4, 30px auto);
  }

  form input{
    width: 95%;
  }
}


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: light) {
    body{
      background-color: var(--watchdog-white);
      color: var(--truth-text);
    }
}

@media (prefers-color-scheme: dark) {
    body{
      background-color: var(--truth-text);
      color: var(--watchdog-white);
    }
}
/* ---------------------------------------I think we figured it out---------------------------------- */
@media (prefers-reduced-motion: reduce){

  #breaking-news section{
    transition:none;
  }

  #breaking-news section:hover{
    transform: none;
  }

  #featured-articles section{
    transition: none;
  }

  #featured-articles section:hover{
    transform: none;
  }

  footer ul li{
    transition: none;
  }

  footer ul li:hover{
    transform: none;
  }

}

/* Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(#menu-toggle:checked))) {

nav:has(#menu-toggle:checked) .menu{
  display: block;
  position: absolute;
  left: 50%;
  width: 95%;
  transform: translateX(-50%);
  background-color: var(--news-flash);
  justify-content: center;
  text-align: center;
  margin-top: 0.5rem;
}

nav:has(#menu-toggle:checked) .menu li{
  padding: 0.5rem;
  border: 2px solid var(--blue-bulletin);
  transition: var(--transition);
}

nav:has(#menu-toggle:checked) .menu li:hover{
  background-color: var(--blue-bulletin);
}

nav:has(#menu-toggle:checked) .menu a{
  text-decoration: none;
  color: var(--watchdog-white);
  font-family: var(--font-body);
  text-transform: uppercase;
  font-size: 1.15em;
}

}