/* CSS by Laura Richter */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skip-link{
  text-decoration: none;
  font-family: var(--font-body);
  background-color: var(--news-flash);
  border: 2px solid var(--news-flash);
  color: var(--watchdog-white);
  padding: 0.5rem;
  left: 15%;
  position: absolute;
  transform: translateY(-1000%);
  transition: var(--transition);
}

.skip-link:focus{
  transform: translateY(-50%);
}

.skip-link:hover{
  background-color: var(--blue-bulletin);
}

/* ///ADD/// Navigation Styles */
/* ----------------------------------COME BACK TO THIS PLEASE---------------------------------- */
/* ------------------------------How do we get the box to check??------------------------------ */

.menu-button{
  background-color: var(--news-flash);
  font-family: var(--font-body);
  color: var(--watchdog-white);
  display: block;
  text-align: center;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1.25em;
}

nav ul{
  display: none;
}

#menu-toggle:checked + nav ul{
  position: absolute;
  width: 95%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

#menu-toggle:checked + nav ul li a{
  display: block;
  text-decoration: none;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  padding: 0.5rem;
  border: 2px solid var(--blue-bulletin);
  text-align: center;
}

/* ///ADD/// Global Layout Styles */

/* ///ADD/// Global Text Styles */

body{
  background-color: var(--watchdog-white);
  font-family: var(--font-body);
  font-size: 0.9em;
  line-height: 1.5em;
}

header{
  background-color: var(--blue-bulletin);
  font-family: var(--font-heading);
  color: var(--watchdog-white);
  padding: 1rem;
  margin-bottom: 2rem;
}

header h1{
  font-size: 2.5em;
  line-height: 1.5em;
}

header p{
  font-variation-settings: 'wdth' 50;
  padding-bottom: 1rem;
}

main{
  margin: 0 auto;
  padding: 1rem;
}

main section{
  padding: 1rem 0;
}

h2, h3{
  font-family: var(--font-heading);
  font-size: 1.75em;
  font-variation-settings: 'wght' 50;
  line-height: 1.5em;
}

h3{
  font-family: var(--font-heading);
  font-size: 1.5em;
  font-variation-settings: 'wght' 50;
  line-height: 1.5em;
}

blockquote{
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 1rem;
}

#breaking-news section{
  padding: 1rem;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  margin: 0.5rem;
  box-shadow: var(--shadow);
  border-left: 2px solid var(--truth-text);
  border-top: 2px solid var(--truth-text);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transition: var(--transition);
}

#breaking-news section:hover{
  transform: scale(105%);
}

#breaking-news h3{
  border-bottom: 1px solid var(--watchdog-white);
}

#breaking-news p{
  padding-top: 0.5rem;
}

video{
  width: 100%;
}

#featured-articles section{
  border: 1px solid var(--blue-bulletin);
  box-shadow: var(--shadow);
  padding: 1rem;
  margin: 0.5rem;
  transition: var(--transition);
}

#featured-articles section:hover{
  transform: scale(105%);
}

#featured-articles h3{
  border-bottom: 1px solid var(--blue-bulletin);
}

#featured-articles p{
  padding-top: 0.5rem;
}

form{
  background-color: var(--news-flash);
  padding: 1rem;
  color: var(--watchdog-white);
  width: 100%;
}

form label, form input{
  display: block;
  width: 95%;
  font-size: 1em;
}

form input{
  padding: 0 0.5em;
  height: 2.5em;
}

form input:focus{
  border: 2px solid var(--blue-bulletin);
}

form input:valid{
  border: 2px solid var(--story-subtitle);
}

form fieldset{
  border: 1px solid var(--blue-bulletin);
	padding: 0.5em 0 1em 0.5em;
	margin: 0.75em 0 0.25em 0;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: end;
  width: 95%;
}

form fieldset input, form fieldset label{
  height: 1.25em;
  padding: 0.5rem 0;
}

form input[type=checkbox]{
  accent-color: var(--blue-bulletin);

}

form legend{
  text-transform: uppercase;
}

form input[type=submit]{
  background-color: var(--blue-bulletin);
  text-transform: uppercase;
  color: var(--watchdog-white);
  box-shadow: var(--shadow);
  border-left: 2px solid var(--truth-text);
  border-top: 2px solid var(--truth-text);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  height: 3em;
  width: 97%;
  transition: var(--transition);
}

form input[type=submit]:hover{
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
}

footer{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 2rem 1rem 1rem 1rem;
}

footer ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0.5rem 0;
}

footer ul li{
  text-transform: uppercase;
  background-color: var(--news-flash);
  border: 2px solid var(--news-flash);
  padding: 0.5rem;
  text-align: center;
  transition: var(--transition);
}

footer ul li:hover{
  background-color: var(--blue-bulletin);
  transform: scale(105%);
}

footer small{
display: block;
text-align: center;
}

/* ///ADD/// medium styles 620px */


/* ///ADD/// large styles 920px */


/* ///ADD/// x-large styles 1024px */


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}